@mixin setPolyGon($color:#ffffff,$poly:null) {
  background-color: $color;
  -webkit-clip-path: $poly;
}

/*rabbit part*/
$color_1: #AFB6B9, #E2E8EA, #BEBEBB, #D6D6D7, #797F81, #C2C5C5, #ECECEC, #9C9F9F, #848787, #202021, #707073, #B3B5BC, #CBCECE,
#EAE9EE, #D2D2D3, #E5E5E6, #D3D2D6, #B8BBBA, #CCCFD1, #B5B8BA, #7E8183, #979A99, #BDC0C0, #B3B7BB, #CFD1D6, #E3E6E6, #D3D7D1,
#888889, #A0A3A2, #A3ACA9, #83858A, #9FA2A2, #B8BFC5, #CFD2D1, #69686F, #818486;

$arr_1: polygon(291px 140px, 280px 160px, 290px 190px, 291px 140px, 280px 160px, 290px 190px, 291px 140px, 280px 160px),
polygon(291px 140px, 290px 190px, 305px 195px, 302px 160px, 291px 140px, 290px 190px, 305px 195px, 302px 160px),
polygon(302px 160px, 305px 195px, 313px 168px, 331px 144px, 302px 160px, 305px 195px, 313px 168px, 331px 144px),
polygon(313px 168px, 305px 195px, 321px 177px, 331px 144px, 313px 168px, 305px 195px, 321px 177px, 331px 144px),
polygon(280px 160px, 281px 188px, 271px 203px, 281px 206px, 290px 190px, 280px 160px, 281px 188px, 271px 203px),
polygon(290px 190px, 281px 206px, 305px 218px, 305px 195px, 290px 190px, 281px 206px, 305px 218px, 305px 195px),
polygon(305px 195px, 305px 218px, 320px 237px, 330px 237px, 320px 206px, 305px 195px, 305px 218px, 320px 237px),
polygon(271px 203px, 281px 239px, 300px 238px, 281px 206px, 271px 203px, 281px 239px, 300px 238px, 281px 206px),
polygon(281px 206px, 300px 238px, 320px 237px, 305px 218px, 281px 206px, 300px 238px, 320px 237px, 305px 218px),
polygon(320px 237px, 323px 245px, 330px 237px, 320px 237px, 323px 245px, 330px 237px, 320px 237px, 323px 245px),
polygon(300px 238px, 315px 250px, 323px 245px, 320px 237px, 300px 238px, 315px 250px, 323px 245px, 320px 237px),
polygon(281px 239px, 295px 251px, 315px 250px, 300px 238px, 281px 239px, 295px 251px, 315px 250px, 300px 238px),
polygon(223px 176px, 217px 202px, 281px 239px, 271px 203px, 223px 176px, 217px 202px, 281px 239px, 271px 203px),
polygon(190px 163px, 217px 202px, 223px 176px, 190px 163px, 217px 202px, 223px 176px, 190px 163px, 217px 202px),
polygon(190px 163px, 168px 190px, 217px 202px, 190px 163px, 168px 190px, 217px 202px, 190px 163px, 168px 190px),
polygon(147px 163px, 168px 190px, 190px 163px, 147px 163px, 168px 190px, 190px 163px, 147px 163px, 168px 190px),
polygon(120px 175px, 122px 197px, 168px 190px, 147px 163px, 120px 175px, 122px 197px, 168px 190px, 147px 163px),
polygon(120px 175px, 103px 202px, 122px 197px, 120px 175px, 103px 202px, 122px 197px, 120px 175px, 103px 202px),
polygon(103px 202px, 104px 217px, 121px 218px, 122px 197px, 103px 202px, 104px 217px, 121px 218px, 122px 197px),
polygon(104px 217px, 76px 236px, 93px 237px, 121px 218px, 104px 217px, 76px 236px, 93px 237px, 121px 218px),
polygon(76px 236px, 75px 251px, 93px 250px, 93px 237px, 76px 236px, 75px 251px, 93px 250px, 93px 237px),
polygon(93px 237px, 93px 250px, 117px 236px, 121px 218px, 93px 237px, 93px 250px, 117px 236px, 121px 218px),
polygon(122px 197px, 121px 218px, 166px 234px, 168px 190px, 122px 197px, 121px 218px, 166px 234px, 168px 190px),
polygon(168px 190px, 166px 234px, 206px 238px, 217px 202px, 168px 190px, 166px 234px, 206px 238px, 217px 202px),
polygon(217px 202px, 206px 238px, 218px 271px, 250px 271px, 217px 202px, 206px 238px, 218px 271px, 250px 271px),
polygon(217px 202px, 250px 271px, 281px 239px, 217px 202px, 250px 271px, 281px 239px, 217px 202px, 250px 271px),
polygon(281px 239px, 250px 271px, 250px 283px, 280px 270px, 295px 251px, 281px 239px, 250px 271px, 250px 283px),
polygon(218px 271px, 222px 280px, 250px 283px, 250px 271px, 218px 271px, 222px 280px, 250px 283px, 250px 271px),
polygon(218px 271px, 215px 302px, 235px 306px, 218px 271px, 215px 302px, 235px 306px, 218px 271px, 215px 302px),
polygon(215px 302px, 200px 307px, 198px 321px, 221px 316px, 235px 306px, 215px 302px, 200px 307px, 198px 321px),
polygon(206px 238px, 200px 274px, 216px 290px, 218px 271px, 206px 238px, 200px 274px, 216px 290px, 218px 271px),
polygon(166px 234px, 174px 250px, 202px 259px, 206px 238px, 166px 234px, 174px 250px, 202px 259px, 206px 238px),
polygon(152px 230px, 141px 251px, 141px 267px, 130px 288px, 136px 301px, 167px 265px, 173px 250px, 166px 234px),
polygon(148px 288px, 136px 301px, 190px 336px, 190px 320px, 148px 288px, 136px 301px, 190px 336px, 190px 320px),
polygon(173px 250px, 154px 283px, 193px 313px, 190px 298px, 172px 282px, 188px 256px, 173px 250px, 154px 283px),
polygon(121px 218px, 117px 236px, 141px 251px, 152px 230px, 121px 218px, 117px 236px, 141px 251px, 152px 230px);

/*penguin part*/
$color_2: #160D0E, #8ABBEE, #06173B, #3061D9, #8DB8F7, #7DBFF9, #649EF9, #B4F4F0, #3C69CE, #527AC7, #79B7F0, #4475E9, #6BA1F2,
#B0E7EC, #305CCA, #3F76E5, #689CE9, #80BDF1, #3566D0, #4172D1, #67A5F0, #080714, #080714, #4265AE, #00030E, #6BA6EE, #0E141F,
#B9F2FA, #040807, #CFD1D6, #CFD1D6, #B9F2FA, #B9F2FA, #B9F2FA, #B9F2FA, #B9F2FA;

$arr_2: polygon(150px 90px, 160px 113px, 177px 113px, 150px 90px, 160px 113px, 177px 113px, 150px 90px, 160px 113px),
polygon(160px 113px, 179px 128px, 177px 113px, 160px 113px, 179px 128px, 177px 113px, 160px 113px, 179px 128px),
polygon(177px 113px, 179px 128px, 190px 121px, 177px 113px, 179px 128px, 190px 121px, 177px 113px, 179px 128px),
polygon(160px 113px, 155px 141px, 180px 140px, 179px 128px, 160px 113px, 155px 141px, 180px 140px, 179px 128px),
polygon(179px 128px, 180px 140px, 194px 147px, 190px 121px, 179px 128px, 180px 140px, 194px 147px, 190px 121px),
polygon(155px 141px, 133px 170px, 150px 167px, 167px 177px, 180px 140px, 155px 141px, 133px 170px, 150px 167px),
polygon(180px 140px, 167px 177px, 190px 166px, 194px 147px, 180px 140px, 167px 177px, 190px 166px, 194px 147px),
polygon(133px 170px, 134px 210px, 167px 177px, 150px 167px, 133px 170px, 134px 210px, 167px 177px, 150px 167px),
polygon(167px 177px, 197px 202px, 190px 166px, 167px 177px, 197px 202px, 190px 166px, 167px 177px, 197px 202px),
polygon(194px 147px, 190px 166px, 197px 202px, 210px 203px, 194px 147px, 190px 166px, 197px 202px, 210px 203px),
polygon(133px 170px, 118px 206px, 115px 231px, 134px 210px, 133px 170px, 118px 206px, 115px 231px, 134px 210px),
polygon(167px 177px, 134px 210px, 152px 230px, 167px 177px, 134px 210px, 152px 230px, 167px 177px, 134px 210px),
polygon(167px 177px, 152px 230px, 183px 232px, 197px 202px, 167px 177px, 152px 230px, 183px 232px, 197px 202px),
polygon(134px 210px, 115px 231px, 131px 257px, 152px 230px, 134px 210px, 115px 231px, 131px 257px, 152px 230px),
polygon(152px 230px, 169px 304px, 183px 232px, 152px 230px, 169px 304px, 183px 232px, 152px 230px, 169px 304px),
polygon(197px 202px, 183px 232px, 169px 304px, 180px 341px, 211px 265px, 197px 202px, 183px 232px, 169px 304px),
polygon(152px 230px, 131px 257px, 141px 325px, 180px 341px, 169px 304px, 152px 230px, 131px 257px, 141px 325px),
polygon(115px 231px, 126px 350px, 141px 325px, 131px 257px, 115px 231px, 126px 350px, 141px 325px, 131px 257px),
polygon(141px 325px, 126px 350px, 150px 363px, 180px 364px, 180px 341px, 141px 325px, 126px 350px, 150px 363px),
polygon(180px 341px, 180px 364px, 198px 357px, 180px 341px, 180px 364px, 198px 357px, 180px 341px, 180px 364px),
polygon(211px 265px, 180px 341px, 198px 357px, 209px 323px, 211px 265px, 180px 341px, 198px 357px, 209px 323px),
polygon(180px 364px, 170px 376px, 197px 375px, 198px 357px, 180px 364px, 170px 376px, 197px 375px, 198px 357px),
polygon(126px 350px, 134px 363px, 123px 375px, 150px 375px, 150px 363px, 126px 350px, 126px 350px, 134px 363px),
polygon(118px 206px, 100px 250px, 115px 231px, 118px 206px, 118px 206px, 100px 250px, 115px 231px, 118px 206px),
polygon(100px 250px, 88px 302px, 92px 317px, 100px 317px, 105px 304px, 100px 250px, 88px 302px, 92px 317px),
polygon(100px 250px, 105px 304px, 120px 272px, 115px 231px, 100px 250px, 105px 304px, 120px 272px, 115px 231px),
polygon(197px 202px, 224px 240px, 210px 203px, 197px 202px, 197px 202px, 224px 240px, 210px 203px, 197px 202px),
polygon(197px 202px, 217px 310px, 224px 240px, 197px 202px, 197px 202px, 217px 310px, 224px 240px, 197px 202px),
polygon(217px 310px, 226px 326px, 233px 316px, 224px 240px, 217px 310px, 226px 326px, 233px 316px, 224px 240px),
polygon(255px 257px, 250px 280px, 270px 261px, 255px 257px, 250px 280px, 270px 261px, 255px 257px, 250px 280px),
polygon(54px 198px, 52px 212px, 45px 224px, 60px 227px, 71px 234px, 72px 220px, 80px 210px, 67px 208px),
polygon(265px 117px, 255px 130px, 240px 130px, 252px 140px, 252px 154px, 260px 143px, 275px 144px, 264px 134px),
polygon(52px 352px, 46px 365px, 80px 368px, 52px 352px, 46px 365px, 80px 368px, 52px 352px, 46px 365px),
polygon(221px 370px, 253px 372px, 255px 355px, 221px 370px, 253px 372px, 255px 355px, 221px 370px, 253px 372px),
polygon(87px 333px, 72px 340px, 100px 360px, 87px 333px, 72px 340px, 100px 360px, 87px 333px, 72px 340px),
polygon(220px 336px, 215px 357px, 242px 336px, 220px 336px, 215px 357px, 242px 336px, 220px 336px, 215px 357px);